@import "tailwindcss";
@theme {
    --font-sans: "Raleway", "sans-serif";
    --color-primary: #3679FF;
}
.btn {
    @apply py-2 px-4 rounded-sm cursor-pointer font-bold
}
body {
    @apply m-2.5
}
html, body {
    background-color: #FAFAFA;
}